
* {
	box-sizing: border-box;
}

body {
	height: auto;
	margin-top: 30px;
	background: #343436;
	color: #343436;
}

.container {
	width: 769px;
	margin: auto;
}

[id*="box"] {
	text-align: center;	
	background: #FF3232;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#box1 {
	height: 458px;
	width: 100%;
	line-height: 458px;
	margin: 1px;
	font-size: 2em;	
}

#box1:hover {
	border-radius: 10px;
	height: 438px;
	line-height: 438px;
	width: 97%;
	margin: 10px;
	cursor: pointer;
}

#box2 {
	height: 280px;
	width: 100%;
	line-height: 280px;	
	margin: 1px;
	font-size: 1.5em;
}

#box2:hover {
	border-radius: 9px;
	height: 270px;
	line-height: 270px;
	width: 97%;
	margin: 6px;
	cursor: pointer;
}

#box3 {
	height: 176px;
	width: 101%;
	line-height: 176px;	
	margin: 0px 1px 1px 0px;
	font-size: 1.2em;

}

#box3:hover {
	border-radius: 7px;
	height: 160px;
	line-height: 160px;
	width: 98%;
	margin: 4px;
	cursor: pointer;
}

#box4 {
	height: 107px;
	width: 100%;
	line-height: 107px;
	margin: 1px 1px 1px 0px;
	font-size: 1em;
}

#box4:hover {
	border-radius: 7px;
	height: 96px;
	line-height: 96px;
	width: 96%;
	margin-top: 6px;
	margin-left: 3px;
	cursor: pointer;
}

#box5 {
	height: 68px;
	width: 100%;
	line-height: 68px;
	margin: 0px 1px 0px 0px;
	font-size: .7em;	
}

#box5:hover {
	border-radius: 6px;
	height: 60px;
	line-height: 60px;
	width: 96%;
	margin-left: 3px;
	margin-bottom: 6px;
	margin-top: 3px;
	cursor: pointer;
}

/*****************************************
				RESPONSIVE
*****************************************/		


@media only screen and (max-width: 768px) {
    		/*mobile phones*/

    .container {
    	width: auto;
    }

    [class*="col-"] {
	    width: 100%;
	    margin: 0px;
	}

	#box5, #box4, #box3 {
		width: 100.5%;
	}

	#box1:hover {
		margin: 8px 8px 10px 6px;
	}

	#box4:hover {
		margin: 5px 0px 4px 8px;
	}

	#box5:hover {
		margin-left: 9px;
	}
}











