* {
	box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #FF3232;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

header { 
	background: #333;
	color: white;
	height: 60px;
}

#brand {
	float: left;
	margin-left: 50px;

}

#brand h1 {
	line-height: 18px;
}

#showWide {
	float: right;
	text-align: center;
	margin-right: 20px;
}

#showWide ul {
	line-height: 30px;
}

#showWide ul li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

#showNarrow {
	display: none;
}

#navNarrow {
	display: none;
}

/*******************************************
				RESPONSIVE
*******************************************/


@media only screen and (max-width: 576px) {
	/*For mobile Phones: */

	#brand {
		margin-left: 30px;
	}

	#showWide {
		display: none;
	}

	#showNarrow {
		display: initial;
		float: right;
		margin-top: 20px;
		margin-right: 30px;
		cursor: pointer;
	}

	#showNarrow div {
		width: 35px;
	    height: 4px;
	    border-radius: 4px;
	    background: #fff;
	    margin-bottom: 4px;
	}

	#navNarrow {
		position: relative;
	    top: 60px;
	    height: 90px;
	    background: #666;
	}

	#navNarrow ul {
	    color: #fff;
	    padding-top: 3px;
	    list-style: none;
	}

	#navNarrow ul li {
		line-height: 20px;
	    font-size: 1.1em;
	    padding-top: 5px;
	    position: relative;
    	left: -85px;
    }


}

















